<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shalimar&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&family=Zilla+Slab:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css">
    <title><%= title %></title>
</head>

<body>
    <header>
        <div class="header-container-color">
            <div class="top-icons">
                <div class="media-icons">
                    <a class="distance-icons"><i class="fa-brands fa-twitter"></i></a>
                    <a class="distance-icons"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a class="distance-icons"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="menu-icon">
                    <a><i class="fa-sharp fa-solid fa-bars"></i></a>
                </div>
            </div>
    </header>
    <main>
        <div>
            <div>
                <h1 class="myName">Agustina Rodriguez Belardinelli</h1>
            </div>
        </div>
        <div class="welcome-text">
            <h4>¡Bienvenidos a mi blog!</h4>
        </div>
        <div class="introduction-text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid amet adipisci inventore a veniam
                quibusdam aut assumenda qui at voluptas, pariatur quae dolorem cumque. Perspiciatis ex saepe labore
                tempore. Nobis!</p>
        </div>
        <div class="heart">
            <hr class="line-heart"><i class="fa-solid fa-heart"></i>
            <hr class="line-heart">
        </div>
        </div>
        <div class="size-blog-container">
            <article class="article-format">
                <div>
                    <h2 class="name-post">Título del posteo</h2>
                    <div><img class="img-size" src="/img/rancho-01.jpg" alt=""></div>
                    <h4 class="category-post">Trabajo profesional de arquitectura</h4>
                    <p class="paragraph-post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                        perferendis quas delectus, aperiam officia porro nobis eveniet fuga ad iste, voluptatum amet
                        sunt tempore aspernatur, numquam dolorum excepturi? Quam, aliquid!</p>
                </div>
            </article>
        </div>
    </main>
    <footer>
        <div class="background-footer">
            <div class="title-newsletter">
                <p>Newsletter!</p>
            <div class="paragraf-newsletter">
                <p>Suscribiéndote al Newsletter vas a recibir en tu correo las nuevas novedades</p>
            </div>
            <form action="/users" method="post" class="form-newsletter">
                <label for="">Nombre y apellido</label>
                <input name="name" type="text">
                <label for="">Email</label>
                <input name="email" type="email">
                <div class="button-suscription">
                    <button type="button">Suscribirme</button>
                </div>
            </form>
        </div>
    </footer>
</body>

</html>