<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h3>ACÁ VAN TODOS LOS POSTEOS PUBLICADOS</h3>
    <% posts.forEach(post => { %>
        <article>
            <h1><%= post.titlePost %></h1>
            <img src="<%= post.img %>" alt="">
            <p><%= post.text %></p>
        </article>
    <% }) %>;
</body>
</html>