<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Crear un usuario>/h1>
        <form action="/users" method="post">
        <label for="">Email</label>
        <input name="email" type="email">
        <label for="">Username</label>
        <input name="username" type="text">
        <label for="">Password</label>
        <input name="password" type="password">
        <input type="submit" value="Registrarme">
        </form>
</body>
</html>